:root {
  --header-height: 46px;
  --footer-height: 58px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #ffffff;
  background-color: #000000;
}
#__nuxt {
  height: 100%;
}

#app {
  height: 100%;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
body.layer #app {
  height: calc(100% - 20px);
  transform: translateY(20px);
}

.skeleton {
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.05), transparent);
  animation: shimmer 2s infinite;
  position: absolute;
  z-index: 1;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
